.pd-30{
    padding-top: 0px !important;
}

.ta-left {
    text-align: left !important;
}

.max-width-p60 {
    max-width: 60% !important;
}

.ff-ss {
    font-family: sans-serif;
}

.white-text {
    color: #fcfcfc !important;
}